:root {
  --ffbebas: "Bebas Neue", cursive;
  --ffquicksand: "Quicksand";
  --ffroboto: "Roboto", sans-serif;

  --fxxsmall: 0.875em;
  --fxsmall: 1em;
  --fsmall: 1.125em;
  --fmid: 1.25em;
  --flarge: 1.5em;
  --fxxlarge: 2.625em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-page-header {
  background-color: #03467a;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  font-family: var(--ffbebas);
}

.home-page-header a {
  font-size: 1.2em;
}
.home-page-header img,
.search-menu img {
  width: 2em;
  display: flex;
}

.search-menu {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.search-section {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.search-bar {
  width: 70%;
  border: 1px solid #d4cbcb;
  border-radius: 0.5em;
  padding: 0.6em;
}

.search-btn {
  background-color: #03467a;
  color: white;
  padding: 0.6em;
  border-radius: 0.5em;
  border: none;
  display: flex;
  gap: 0.5em;
}

.close-icon2 {
  color: white;
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  cursor: pointer;
  font-size: 2em;
}
/* 
.nav.show-nav2 {
  transform: translateY(0);

  z-index: 2;
  background-color: #03467a;
}

.nav.show-nav2 li a {
  color: #ffffff;
} */

.nav2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #03467a;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  transform: translatex(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 9;
}

.nav2.show-nav {
  transform: translateY(0);
}

.nav2-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav2-links li {
  margin: 0.6em;
}

.side-bar-btns {
  height: 100vh;
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 4em;
  background-color: #ffffff;
  top: 4em;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.side-bar-btns.active {
  left: 0;
}

.home-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: transform 2s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  transition: transform 2s ease-in-out;
}

.side-bar-btn {
  width: 9em;
  background-color: #03467a;
  color: white;
  padding: 0.8em;
  border-radius: 1.5em;
  border: none;
}

/* Section 1 starts here */

.homePage-section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1em;
  box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.section1-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.15);
  gap: 0.5em;
}

.section1-card-top {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.section1-card h2 {
  font-family: var(--ffbebas);
  letter-spacing: 0.03em;
  font-weight: 500;
}

.section1-card span {
  font-weight: 100;
  font-size: var(--fxxsmall);
}
.card-top-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card-top-img img {
  width: 100%;
  height: auto;
}

.section1-card-bottom {
  display: grid;
  grid-template-columns: 5em 5em;
}

.section1-card-bottom button {
  background: none;
  color: #03467a;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
}

/* Section 2 starts here*/

.home-page-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section2-card {
  flex-basis: 80%;
  display: flex;
  flex-direction: column-reverse;
  margin: 1.5em;
  box-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: 0.4em;
  padding: 1em;
  gap: 1em;
}

.section2-card h2 {
  font-family: var(--ffbebas);
  letter-spacing: 0.03em;
  font-weight: 500;
}

.card-top-text ul li {
  list-style-type: none;
}

.card-top-text ul li p {
  padding-top: 0.2em;
}

.adv-section {
  width: 100%;
  height: 150px;
  background-color: #f4e1eb;
}

.load-more {
  width: 100%;
  color: #03467a;
  margin: 1em 0 2em 0;
  text-align: center;
}

.load-more a {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .nav2 {
    background-color: #03467a;
    position: relative;
    transform: none;
    box-shadow: none;
    padding: 0;
  }

  .icon-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .header-toggle {
    display: none;
  }

  .side-bar-btns {
    width: 50%;
  }

  .section1-card {
    flex-wrap: nowrap;
  }

  .section2-card {
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (min-width: 600px) {
  .side-bar-btns {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .section1-card {
    width: 65%;
  }

  .section2-card {
    flex-basis: 40%;
    flex-direction: column-reverse;
  }

  .side-bar-btns {
    top: 6.1em;
  }
}

@media screen and (min-width: 992px) {
  .section2-card {
    flex-basis: 44%;
    flex-direction: row;
  }

  .side-bar-btns {
    width: 30%;
  }
}

@media screen and (min-width: 1700px) {
  .section2-card {
    flex-basis: calc(22%);
  }

  .section2-card:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.02);
  }

  .side-bar-btns {
    width: 20%;
  }
}
