@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --space: 0.1em;
  --fsizelogo: 32px;
  --fsize: 20px;
  --fcolor: white;
  --p3hffamily: "Bebas Neue", cursive;
  --p3hfsize: 42px;
  --p3hcolor: #323232;
  --p3fhspacing: 0.02em;
  --p3tffamily: "Roboto", sans-serif;
  --p3tfsize: 25px;
  --p3flspacing: 0.01em;
  --p3tlhieght: 32px;
}

* {
  margin: 0px;
  padding: 0;
}

.landing-root {
  background: url(assets/images/firstpageBackground.jpg) no-repeat center center;
  background-size: cover;
}

.first-page {
  position: relative;
  z-index: 1;
  height: 100vh;
  color: var(--fcolor);
}

.opa {
  position: absolute;
  inset: 0;
  background-color: #03467a;
  opacity: 32%;
  z-index: -1;
}

header {
  font-family: "Bebas Neue", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 64px;
}

.logo-section {
  display: flex;
  gap: 8px;
  height: 55px;
  align-items: center;
  font-size: var(--fsizelogo);
  letter-spacing: var(--space);
}

.inline-nav ul {
  list-style: none;
  display: inline-flex;
  gap: 32px;
  font-size: var(--fsize);
  letter-spacing: var(--space);
}

a {
  text-decoration: none;
  color: white;
  font-size: var(--fsize);
  letter-spacing: var(--space);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

a:focus,
a:hover {
  color: #31c719;
}

a:focus:after,
a:hover:after {
  width: 100%;
  left: 0%;
}

a:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  border-radius: 4px;
  background-color: #31c719;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: width, left;
}

.body-center {
  display: flex;
}

.landing-body-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.landing-body-text .landing-body-text-first {
  font-family: "Bebas Neue", cursive;
  font-size: 6em;
  font-weight: 400;
  margin-bottom: 0px;
}

.green-span {
  color: #53ff37;
}

.landing-body-text .landing-body-text-second {
  font-family: "Quicksand";
  font-size: 1.2em;
}

.landing-body-text button {
  width: 180px;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: #31c719;
  background-image: linear-gradient(315deg, #31c719 0%, #528f49 74%);
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-image: linear-gradient(315deg, #31c719 0%, #90c788 74%);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  top: 0;
  height: 100%;
}
.btn:active {
  top: 2px;
}

.landing-body-text button:hover {
  box-shadow: none;
}

.landing-body-images {
  width: 50%;
  margin-top: 50px;
}

.section-root {
  color: black;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.sec-top {
  margin-top: 2%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sec-top h2 {
  font-family: var(--p3hffamily);
  color: #03467a;
  font-size: 57px;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin: 0 auto;
}

.green-line {
  border-top: 5px #31c719 solid;
  border-radius: 20px;
  width: 60%;
}

.green-down {
  border-top: 5px #31c719 solid;
  border-radius: 20px;
  width: 13%;
}

.sec-cards {
  display: flex;
  gap: 3%;
  margin: auto 64px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 18%;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand";
  font-size: 18px;
  padding: 24px;
  text-align: center;
  box-shadow: 8px 9px 53px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
  height: 450px;
}

.card:hover {
  transform: scale(1.05);
}

.icon-div {
  background-color: #d9d9d9;
  width: fit-content;
  border-radius: 50%;
  padding: 24px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d9d9d9;
  padding: 4px;
  align-items: center;
  display: grid;
}

.icon4 {
  padding: 32px;
}

.page3-cards {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
}

.page3-card {
  width: 70%;
  align-items: center;
  display: flex;
  gap: 64px;
  justify-content: space-between;
}

.page3-card h2 {
  font-family: var(--p3hffamily);
  font-size: var(--p3hfsize);
  color: var(--p3hcolor);
  letter-spacing: var(--p3fhspacing);
  font-weight: 400;
}

.page3-card p {
  font-family: "Roboto", sans-serif;
  font-size: var(--p3tfsize);
  letter-spacing: var(--p3flspacing);
  line-height: var(--p3tlhieght);
  color: #4f5253;
}

.page3-card img {
  width: 450px;
}

.card-2 {
  flex-direction: row-reverse;
}

.card-3 img {
  border-radius: 20px;
}

.card-4 {
  flex-direction: row-reverse;
}

.fade-in {
  opacity: 0;
  transform: translatex(200px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

/* Testimonial Section */

.testimonial-root {
  position: relative;
  background: url(assets/images/testimonial.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 94px;
  padding: 64px;
  margin: 124px auto;
}

.testimonial-root::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 70, 122, 0.32);
}

.testimonial-header h2 {
  position: relative;
  font-family: var(--p3hffamily);
  text-align: center;
  color: #ffffff;
  font-size: 57px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.comment-sec {
  display: flex;
  gap: 9em;
  margin-bottom: 64px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.arrow img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.comment-cont {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease-in-out;
}

.comment-cont:hover {
  transform: translatey(-2%);
}

.comment {
  padding: 32px 24px;
  text-align: center;
  width: 500px;
}

.comment p {
  padding: 0 32px;
  font-family: "Quicksand";
  font-size: 1.15em;
  color: #4b4b4b;
}

.testimonial-bottom {
  background-color: #03467a;
  padding: 8px;
  border-radius: 0px 0px 12px 12px;
  text-align: center;
  font-family: var(--p3tffamily);
  font-weight: 600;
  color: white;
}

/* About us page*/

.aboutus-root {
  background: url(assets/images/aboutus-bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0px 64px;
  justify-content: center;
  gap: 6em;
  margin: 64px;
}

.aboutus-text {
  width: 45%;
}

.aboutus-img img {
  width: 650px;
}

.aboutus-text h1 {
  font-family: var(--p3hffamily);
  font-size: 57px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.aboutus-text p {
  font-family: "Quicksand";
  font-size: 20px;
  color: #272727;
  line-height: 36px;
  letter-spacing: 0.04em;
}

/* Last sec*/

.last-sec {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 72px 64px;
  gap: 42px;
  background: url(assets/images/lastSec.jpg) no-repeat center center;
  background-size: cover;
  z-index: 1;
  align-items: center;
}

.last-sec::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 70, 122, 0.5);
  z-index: -1;
}

.last-sec span {
  font-family: "Quicksand";
  font-size: 42px;
  font-weight: 600;
  color: white;
  text-align: center;
  width: 80%;
}

.btn2 {
  width: 180px;
  color: #ffffff;
  background-color: #31c719;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid #31c719;
  box-shadow: 2px 3px 13px rgb(46, 44, 44);
}

.btn2:hover {
  color: #31c719;
  background-color: #ffffff;
  box-shadow: none;
}

/* Contact Us section starts here*/

.contactUs {
  display: flex;
  flex-wrap: wrap;
  padding: 64px;
  gap: 2em;
}

.contact {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contactUs-top h1 {
  font-family: var(--p3hffamily);
  font-size: 57px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.contactUs-top p {
  font-family: "Quicksand";
  font-size: 20px;
  color: #272727;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.contact-info {
  display: flex;
}

.email-address {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.phone-opening {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.info-sec {
  display: flex;
  align-items: center;
  gap: 1em;
}

.info-icons img {
  width: 45px;
}

.inside-sec {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 100%;
}

.inside-sec h2 {
  font-family: var(--p3hffamily);
  font-size: 28px;
  color: #999999;
  font-weight: 200;
  margin: 0px;
}

.inside-sec span {
  width: 70%;
  font-family: "Quicksand";
  font-size: 18px;
  color: #272727;
}

.getIn {
  flex: 1;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 8px;
}

.getIn h2 {
  font-family: var(--p3hffamily);
  font-size: 36px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #323232;
}

.getIn input,
textarea {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #c3c1c1;
  font-family: "Quicksand";
}

.btn3 {
  padding: 16px;
  width: 15%;
  border: none;
  border-radius: 8px;
  background-color: #03467a;
  color: white;
  font-family: "Quicksand";
  font-weight: 600;
}

/* Footer starts here*/

.footer-root {
  background-color: #444444;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 64px 64px 16px 64px;
  color: white;
  font-family: "Quicksand";
}

.footer-left {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
}

.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 0.5em;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.footer-logo img {
  width: 50px;
}

.footer-social-icons {
  position: relative;
  display: flex;
  gap: 1em;
  cursor: pointer;
}

.social-icons {
  transition: transform 0.2s ease-in-out;
  font-size: 30px;
}

.social-icons:hover {
  transform: scale(1.3);
}

.facebook-icon {
  color: #3b5998;
}

.twitter-icon {
  color: #1da1f2;
}

.instagram-icon {
  color: #e1306c;
}

.footer-center {
  flex: 2;
  display: grid;
  grid-template-columns: 25% 25% 15%;
  align-items: start;
  gap: 1em;
  justify-content: center;
}

.footer-center input {
  border: none;
  border-radius: 4px;
  height: 0;
  padding: 20px 16px;
}

.footer-center input:focus {
  outline: none;
}

.footer-center input::placeholder {
  font-family: "Quicksand";
}

.btn-4 {
  font-family: "Quicksand";
  letter-spacing: 0.05em;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #31c719;
  color: white;
  font-weight: 600;
  box-shadow: 2px 3px 13px rgb(46, 44, 44);
}

.btn-4:hover {
  box-shadow: none;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  justify-self: center;
}
